#navbar > div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 0px 20px;
    background-color: #e75f0c;
  }
  #navbar > div>a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(12, 12, 12);
  }
  /* for boby */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  #contentarea {
    max-width: 1400px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #42abec;
    box-shadow: 0 0 10px rgba(212, 190, 190, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .link_content {
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }
  .link_content>a {
      text-decoration: none;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
  }
  
  .footer p {
    margin: 0;
  }